/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-May-2021, 17:20:24
    Author     : zequi
*/
* {
    -fx-primary : #2A2E37;
    -fx-secondary : #FFFF8D;
    -fx-primarytext : #B2B2B2;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;
}

.root{
    -fx-background-color: -fx-primary;
}

.glyph-icon
{
    -fx-fill: -fx-primarytext;
}

/* button */
.button:hover{
     -fx-opacity: 1;
}

.buttonMenu {
   
    -fx-border-style: none;     
    -fx-background-size: 85%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-image: url('../imgs/menu_32px.png');
    -fx-opacity: 0.5;      
}

.buttonOpcao{
    -fx-background-size: 85%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-image: url('../imgs/settings_50px.png');
     -fx-opacity: 0.5;   
}

.buttonUI{
    -fx-background-size: 85%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-image: url('../imgs/paper_plane_32px.png');
     -fx-opacity: 0.5;   
}

.buttonProject{
    -fx-background-size: 85%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-image: url('../imgs/tasks_32px.png');
     -fx-opacity: 0.5;   
}

.buttonResouce{
    -fx-background-size: 85%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-image: url('../imgs/bulleted_list_32px.png');
     -fx-opacity: 0.5;   
}



.text-field
{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size : 12pt;
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-secondary, 20%);
}

.wrong-credentials
{
    -jfx-unfocus-color: #ef5350;
    -jfx-focus-color: #ef5350;
}

/*Main Screen CSS Styling starts here*/

/*TablPane styling*/
.tab{
    -fx-background-color: -fx-primary;
}

.tab-header-background{
    -fx-background-color: -fx-primary;
}

.tab-label{
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 10pt; 
}


.tab-main{
    -fx-pref-height : 60;
    -fx-max-height : 60;
}

.settings-tab{
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-padding: 5px 20px 5px 20px;
}

.settings-tab:selected{
    -fx-background-color: -fx-secondary;
}

.settings-tab:selected .tab-label{
    -fx-text-fill: -fx-primary;
}

.settings-tab .tab-header-background{
    -fx-background-color: derive(-fx-primary, -50%);
}

.panel-dark{
    -fx-background-color: derive(-fx-primary, -30%);
}
/*Menu bar Styling*/
.menu-bar{
    -fx-font-size: 14;
    -fx-base : -fx-primary;
    -fx-background-color: derive(-fx-primary, -50%);
}

.context-menu {
    -fx-background-color:  derive(-fx-primary, 20%);
    -fx-font-size: 14;
    -fx-min-width: 150px;
}

/*Hamburger Styling*/
.jfx-hamburger-icon{
    -fx-spacing: 7;
}

.jfx-hamburger-icon StackPane
{
    -fx-background-color: -fx-secondary;
    -fx-background-radius: 5px;
}

/*Toolbar buttons*/
.toolbar-button
{
    -fx-border-color: transparent;
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}
.toolbar-button:hover
{
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.toolbar-button:hover .glyph-icon, .toolbar-button:hover .glyph-icon
{
    -fx-fill: -fx-primary;
}

/*Text styling*/
.main-text
{
    -fx-fill: -fx-secondary;
    -fx-font-size: 14pt;
    -fx-text-alignment: center;
}

.submission-container{
    -fx-background-color: derive(-fx-primary, 10%);
}

/*Dialog styling*/
.dialog-button{
    -fx-border-color: -fx-color-1;
    -fx-text-fill: white;
    -fx-border-radius: 1px;
    -fx-background-radius: 3px;
}

.dialog-button:hover{
    -fx-background-color: -fx-color-1;
    -fx-border-color: derive(-fx-color-1, -20%);
    -fx-text-fill: white;
}

.jfx-layout-actions
{
    -fx-hgap:8;
}

/*Chart Styling*/
.data0.chart-pie{
    -fx-pie-color: -fx-secondary;
    -fx-border-color: derive(-fx-secondary, -30%);
}
.data1.chart-pie{
    -fx-pie-color: derive(-fx-primary, 30%);
    -fx-border-color: derive(-fx-primary, 30%);
}
.chart-pie-label
{
    -fx-fill : derive(-fx-secondary, -5%);
}

/*About window*/
.about-text{
    -fx-fill: -fx-secondary;
}

.about-button{
    -fx-border-color: transparent;
}

/*Custom window background*/
.custom-pane{
    -fx-background-color: derive(-fx-primary, 5%);
}

/*TableView Default*/
.table-view{
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-font-size: 16px; 
    -fx-border-color: derive(-fx-secondary, -60%);
}
.table-view:focused{
    -fx-background-color: derive(-fx-primary, 20%);
}
.table-row-cell {
    -fx-cell-size: 40px;
}
.table-view .column-header-background{
    -fx-background-color: -fx-primary;
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-text-fill: white;
}
.table-row-cell:focused, .table-cell:focused{
    -fx-text-fill: -fx-primary;
}
.table-row-cell{
    -fx-background-color: -fx-primary;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}
.table-column{
    -fx-alignment: CENTER;  
}
.table-row-cell:even{
    -fx-background-color: derive(-fx-primary, 10%);
}
.table-row-cell:selected {
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
    -fx-background-insets: 0;
}
.table-row-cell:selected .table-cell{
    -fx-text-fill: -fx-primary;
}
.placeholder .label{
    -fx-text-fill: white;
}
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}
.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-text-fill: white;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb{
    -fx-background-color: derive(-fx-primary, 60%);
    -fx-border-color: transparent;
    -fx-background-radius: 5em;
}
.table-view .filler{
    -fx-fill: -fx-primary;
    -fx-background-color: -fx-primary;
}
.table-context
{
    -fx-base: -fx-primary;
}


/*JFXDialog styling*/
.jfx-layout-heading
{
    -fx-background-color: -fx-color-1;
}
.jfx-layout-heading .label
{
    -fx-text-fill: white;
    -fx-font-size: 12pt;
}
.jfx-layout-body, .jfx-layout-actions{
    -fx-background-color: -fx-primary;   
}
.jfx-layout-body .label
{
    -fx-text-fill: white;
    -fx-padding: 20px 0 0 0;
}


/*Dashboard label*/
.not-available 
{
    -fx-background-radius: 5px;
    -fx-fill: derive(blue, 80%);
    -fx-cursor: hand;
}

/*Checkbox*/

.checkbox-main{
    -fx-text-fill: -fx-secondary; 
    -jfx-checked-color: -fx-primary;
    -fx-font-size: 10pt;
}

/*Progrss bar*/

.progress-bar-main .track{
    -fx-background-color: -fx-primary;
}
.progress-bar-main .bar{
    -fx-background-color: -fx-secondary;
    -fx-padding: 5px;
}

.common-label{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 12pt;
}

/*Alert Dialog*/

.custom-alert{
    -fx-background-color: -fx-primary;
    -fx-text-fill: white;
}
.custom-alert > *.button-bar > *.container{
    -fx-background-color: -fx-primary;
}
.custom-alert > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.custom-alert:header *.header-panel{
    -fx-background-color: -fx-blue;
}
.custom-alert:header  .header-panel .label {
    -fx-font-style: normal;
    -fx-text-fill: white;
}
.custom-alert:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: -fx-primary;
}

/* Context menu */

.colored-context-menu .menu-item:focused {
    -fx-background-color: -fx-secondary;   
    -fx-text-fill: black;
}

.colored-context-menu .menu-item:focused .label {
    -fx-text-fill: black;
}

/* tree-view  */
.tree-view, .tree-cell {
    -fx-background-color: derive(-fx-primary, -30%);
    -fx-text-fill: white ;
}
.tree-cell:expanded, .tree-cell:sub-tree-item {
    -fx-background-color: #404040 ;
}
.tree-cell:selected {
    -fx-font-weight: bold ;
}
.tree-cell {
    -fx-padding: 0.75em 0em 0.75em 0em ;
}
.tree-cell:sub-tree-item {
    -fx-padding: 0.25em ;
}

.tab-pane {
    -fx-tab-min-height: 3em;

    /* 24 */

    -fx-tab-max-height: 3em;
    /* 24 */
}
.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: #EBEAF0;
}
.tab {
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-background-color: #17181B;
}
.tab:selected {
    -fx-background-color: #21477A;
}
.tab:focused {
    -fx-focus-color: transparent;
}
.tab {
    -fx-padding: 0 30 0 30;
}
.tab-pane *.tab-header-background {
    -fx-background-color: #17181B;
}
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
}
.tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}

